---
---

<nav class="navbar">
    <a href="/" class="nav-logo">FB</a>
    <ul class="nav-links">
        <li><a href="#sobre-mi">Sobre mí</a></li>
        <li><a href="#proyectos">Proyectos</a></li>
        <li><a href="#trayectoria">Trayectoria</a></li>
        <li><a href="#contacto">Contacto</a></li>
    </ul>
</nav>